<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="sms.Properties.Settings.conn" connectionString="Data Source=PREET;Initial Catalog=ananyadb;Integrated Security=True"
            providerName="" />
    </connectionStrings>
</configuration>